@for(invoice of invoices(); track $index){
<div (click)="handleNavigate(invoice.id)">
  <span class="left">
    <app-text type="emphasis" [size]="deviceWidth <= 465 ? '1.4rem' : ''">
      <p>#</p>{{ invoice.id }}
    </app-text>
    <app-text id="date">Due {{ invoice.paymentDue | date : "d MMM, y" }}</app-text>
    <app-text color="var(--text-secondary-color)">{{
      invoice.clientName
    }}</app-text>
  </span>
  <span class="right">
    <app-text type="emphasis" size="1.9rem">{{
      invoice.total | currency : "GBP"
    }}</app-text>
    <app-badge [status]="invoice.status">{{ invoice.status }}</app-badge>
    <app-icon
      imgSrc="/assets/images/icon-arrow-right.svg"
      altText="right-arrow"
      [height]="15"
      [width]="12"
      (onClick)="handleNavigate(invoice.id)"
    ></app-icon>
  </span>
</div>
}
